$tooltip: 1.2em;
$tooltip-mobile: 0.6em;
$access-text-lineh: 1em;
$access-font-size: small;
$access-font-size-mobile: x-small;
$menu-label: 1.2em;
$menu-label-mobile: 0.8em;
$greyscale-on: grayscale(100%) opacity(0.7);
$greyscale-off: grayscale(0%) opacity(1);
