@import "colors";
@import "typography";
@import "marginpadding";
@import "widthheight";
@import "src/app/shared/device-width";

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.sidenav-container {
  height: 100%;
  .sidenav {
    width: $sidenav-width;
    background-color: $dark-blue;
    .navigation-list {
      padding-top: 0;
      .navigation-item {
        overflow: hidden;
        color: $nav-item;
        filter: $greyscale-on;
        label {
          padding: $item-label-padding;
        }
      }
      .navigation-item:hover {
        filter: $greyscale-off;
        background-color: $light-blue;
      }
      /*mat-divider*/
      .h-navigation-divider {
        color: $blue;
        border-color: $blue;
      }
    }
  }
}

.sidenav-container .mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

/*left sidenav style override*/
.mat-sidenav:not(.mat-drawer-opened) {
  /*makes icons visible*/
  transform: translate3d(0, 0, 0);
  visibility: visible !important;
  width: $nav-width !important;
  overflow: hidden;
}

/*hide items labels*/
.mat-sidenav:not(.mat-drawer-opened) .navigation-item-label {
  display: none !important;
}

.navigation-item-label {
  font-size: $menu-label;
}

::ng-deep .mat-tooltip {
  font-size: $tooltip !important;
}

.sidenav-content {
  margin-left: $nav-width;
}

@media only screen and (max-width: $tablet) {
  .mat-sidenav:not(.mat-drawer-opened) {
    transform: translate3d(-$nav-width, 0, 0);
    visibility: hidden !important;
    overflow: visible;
  }
  .mat-sidenav {
    overflow: visible;
  }
  .sidenav-content {
    margin-left: 0 !important;
  }
}

@media only screen and (max-width: $mobile) {
  .sidenav {
    width: $sidenav-width-mobile !important;
  }
  .mat-sidenav:not(.mat-drawer-opened) {
    /*makes icons visible*/
    transform: translate3d(-$nav-width-mobile, 0, 0);
    width: $nav-width-mobile !important;
  }
  .sidenav-content {
    margin-left: $nav-width-mobile !important;
  }
  ::ng-deep .mat-tooltip {
    font-size: $tooltip-mobile !important;
  }
  .navigation-item-label {
    font-size: $menu-label-mobile;
  }
  .sidenav-content {
    margin-left: 0 !important;
  }
}
