<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="'navigation'"
    mode="'over'"
    opened="false"
  >
    <mat-toolbar>
      <button
        mat-icon-button
        class="menu-button"
        type="button"
        aria-label="Toggle sidenav"
        (click)="drawer.toggle()"
      >
        <i class="material-icons">menu</i>
      </button>
    </mat-toolbar>
    <mat-nav-list class="navigation-list">
      <div *ngFor="let menu of menus">
        <a mat-list-item href="{{ menu.href }}" class="navigation-item">
          <fa-icon
            [icon]="icons[menu.icon]"
            size="lg"
            [fixedWidth]="true"
          ></fa-icon>
          <label class="navigation-item-label">{{ menu.name }}</label>
        </a>
        <mat-divider class="navigation-divider"></mat-divider>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar class="sidenav-content-toolbar" color="primary">
      <a class="home-button" href="#">
        <img class="app-logo" src="../../assets/images/logo.svg" />
      </a>
      <span class="filler"> </span>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
