@import "src/app/shared/device-width";

.hero {
  background: url(src/assets/images/hero.svg) no-repeat;
  height: 90vh;
  width: 50vw;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
}

@media only screen and (max-width: $tablet) {
  .hero {
    width: 60vw;
  }
}

@media only screen and (max-width: $mobile) {
  .hero {
    width: 70vw;
  }
}
