$greyscale-on: grayscale(100%) opacity(0.7);
$greyscale-off: grayscale(0%) opacity(1);

::ng-deep .grid-header {
  background-color: #eaeaea;
}
/*
::ng-deep .ag-row-hover {
}*/
.operation {
  cursor: pointer;
}
