<div class="wrapper">
  <div class="right">
    <a class="operation">
      <fa-icon
        [icon]="icons.faUserPlus"
        size="lg"
        [fixedWidth]="true"
        style="color: green"
        (click)="addRow()"
      ></fa-icon>
    </a>
    <a class="operation">
      <fa-icon
        (click)="deleteSelectedRows()"
        [icon]="icons.faUserTimes"
        size="lg"
        [fixedWidth]="true"
        style="color: red"
      ></fa-icon>
    </a>
  </div>
</div>

<ag-grid-angular
  #agGrid
  class="ag-theme-material grid"
  [components]="components"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  rowSelection="multiple"
  pagination
  paginationPageSize="11"
  animateRows="true"
  [frameworkComponents]="frameworkComponents"
  (gridReady)="onGridReady($event)"
>
</ag-grid-angular>
