<mat-toolbar class="sidenav-content-toolbar" color="primary">
  <div class="hamburger-container">
    <button
      mat-icon-button
      class="menu-button"
      type="button"
      aria-label="Toggle sidenav"
      (click)="drawer.toggle()"
    >
      <i class="material-icons">menu</i>
    </button>
  </div>

  <a class="home-button" routerLink="/">
    <img class="app-logo" src="../../assets/images/logo.svg" />
  </a>

  <!-- This fills the remaining space of the current row -->
  <span class="filler"></span>
  <div class="far-end">
    <span>Authorized</span>
    <span>Access</span>
  </div>
  <ng-container *ngFor="let toolbarIcon of toolbarIcons; last as isLast">
    <!-- icons -->
    <div class="row">
      <a class="toolbar-link lg-12" routerLink="{{ toolbarIcon.routerLink }}">
        <fa-icon
          [icon]="icons[toolbarIcon.icon]"
          size="md"
          [fixedWidth]="true"
        ></fa-icon>
      </a>
    </div>

    <!-- vertical dividers -->
    <div *ngIf="!isLast" class="row">
      <mat-divider
        [vertical]="true"
        class="v-navigation-divider lg-12"
      ></mat-divider>
    </div>
  </ng-container>
</mat-toolbar>
