@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-material/sass/ag-theme-material-mixin.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.ag-theme-material {
  @include ag-theme-material();
}
.invalid-cell {
  color: red !important;
}
.valid-cell {
  color: green !important;
}
// change pink border color around editing cells
/*
.ag-theme-material .ag-cell-inline-editing {
  border-color: white !important;
}*/
